<link rel="stylesheet" href="./style.css" />


<header>
   <div class="nav">
      <a class="no">THING</a>
      <a href="#part1" class="button">Part 1</a>
      <a href="#part2" class="button">Part 2</a>
   </div>
</header>

<div id="top">
   <title>Test</title>
   <p id="title">title</p>
   
   
   <div id="part1">
      <p id="header">part 1<p>
      <img src="Zam.png" width="560" height="388">

      <p id="text">some text bla
         <br> die<br> bla<br> bla<br> bla<br> bla<br> bla<br>bla<br>bla
         <br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br></p>
   </div>
   <div id = "part2">
      <p id="header">part 2</p>

      <p id="text">damn some more text</p>
   </div>
</div>