html {
  scroll-behavior: smooth;
}
div {
   font-family: Monospace;
}

body {
	background-color: #070707;
	color: #fefefe;
}

header {
	overflow: none;
	width: 100%;
	height: 0%;
}

#titleHolder {
	background-color: #33333f;
	height: 75px;

	margin-left: -8px;
	margin-right: -8px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 69px;
	padding-bottom: 10px;
}

#title {
   text-align: center;
   text-transform: uppercase;
   
   margin: 0px;
   margin-top: -1.3%;
   
   text-shadow: 2px 2px 5px gray;
   font-size: 80px;
   
}


#column {
   width: 50%;
}
#name {
	float: right;
	margin-top: -20px;
	margin-right: 10px;

	font-size: 20px;
}
#header {
   background-color: #222;
   text-transform: capitalize;
   font-weight: bold;
   font-size: 30px;
   width: 100%;
   
   padding-left: 8px;
   margin-left: -8px;
}
#header2 {
   background-color: #050511;
   font-size: 20px;
   
   padding-left: 8px;
   margin-left: -8px;
   margin-bottom: 23px;
}
#text {
   margin-top: -20px;
   font-size: 15px;
}

.button {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin 4px; 2px;
   cursor: pointer;
   margin-right: 1px;
}


img {
   float: right;
   
   margin-right: 60px;
   margin-top: -20px;
   
   background-color: #333;
   border: 3px solid #333;
   padding: 2px;
   
   transition: transform .2s;
}

img:hover {
   transform: scale(1.5);
}

.nav {
   width: 120%;
   background-color: #333;
   position: fixed;
   overflow: hidden;
   margin: -10px;
}
.nav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
.nav a.no:hover {
   background-color: #333;
   color: white;
}
.nav a:hover {
   background-color: #ddd;
   color: black;
}
